<%- model_class = Edital -%>
<div class="page-header">
  <h1>Editais</h1>
  
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:date) %></th>
      <th><%= model_class.human_attribute_name(:descricao) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @editals.each do |edital| %>
      <tr>
        <td><%= link_to edital.id, edital_path(edital) %></td>
        <td><%= edital.name %></td>
        <td><%= edital.date %></td>
        <td><%= edital.descricao %></td>
        <td><%= link_to "Download", edital.pdf.url(:original, false), class: "button" %></td>
        
        <td>

          
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_edital_path(edital), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      edital_path(edital),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to t('.new', :default => t("helpers.links.new")),
            new_edital_path,
            :class => 'btn btn-primary' %>
