<p id="notice"><%= notice %></p>

<h1>Lista de Editais</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Data</th>
      <th>Descriçao</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @editals.each do |edital| %>
      <tr>
        <td><%= edital.name %></td>
        <td><%= edital.date %></td>
        <td><%= edital.descricao %></td>
        <td><%= link_to 'Mostrar', edital %></td>
        <td><%= link_to 'Editar', edit_edital_path(edital) %></td>
        <td><%= link_to 'Deletar', edital, method: :delete, data: { confirm: 'Você esta certo disso?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Edital', new_edital_path %>
