<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="footer, address, phone, icons" />

  <title>Footer With Address And Phones</title>

  <link rel="stylesheet" href="css/demo.css">
  <link rel="stylesheet" href="css/footer-distributed-with-address-and-phones.css">
  
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

</head>

  <body>

    <header>
    
    <h1>&nbsp;&nbsp;&nbsp;&nbsp;</h1>
    
    </header>
    
    <!--
    <nav class="navbar" id="submenu">
        
    </nav>
     The content of your page would go here. -->

    <footer class="footer-distributed">
      
      <div class="footer-left">

        <!--<h3>FEOP <span>Fundação educativa Ouro Preto</span></h3>-->

        <a href="https://www.facebook.com/fundacaoeducativa" target="_blank">
                              <%= image_tag("Logo FEOP_policromia.png", :type => :upload, :width => 200, :height => 100, :crop => :fill) %>
        </a>

        <p class="footer-links">
          
          <a class="<%=  yield(:home) %>"><%= link_to "Home", root_path %></a>
          ·
          <!--
          <a class="<%=  yield(:servicos) %>"><%= link_to "Serviços", servicos_path %></a>
          ·-->
          <a class="<%=  yield(:parceiros) %>"><%= link_to "Parceiros", parceiros_path %></a>
          ·
          <a class="<%=  yield(:sobre) %>"><%= link_to "Sobre", sobre_path %></a>
          ·
          <a class="<%=  yield(:mapa_do_site) %>"><%= link_to "Mapa do Site", mapa_do_site_path %></a>
          ·
          <a class="<%=  yield(:fale_conosco) %>"><%= link_to "Fale conosco", fale_conosco_path %></a>



        </p>

        <p class="footer-company-name">Copyright &copy; Núcleo de TI FEOP  2015 </p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker" ></i>
          <p><span>Rua Benedito Valadares, 241 - Bairro Pilar </span> Ouro Preto MG</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+55 31 3559 3450</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">contato@feop.com.br</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>Sobre a FEOP</span>
          Fundação educativa Ouro Preto.
        </p>

        <div class="footer-icons">

          <ul class="social">
                          <li>
                            <a href="https://www.facebook.com/fundacaoeducativa" target="_blank">
                              <%= image_tag("facebook_circle_color.png", :type => :upload, :width => 50, :height => 50, :crop => :fill) %>
                          </a>
                      </li>
                      <li>
                        <a href="https://twitter.com/feopnoticias" target="_blank">
                          <%= image_tag("twitter_circle_color.png", :type => :upload, :width => 50, :height => 50, :crop => :fill) %>
                      </a>
                  </li>
                  <li>
                    <a href="http://www.flickr.com/photos/" target="_blank">
                      <%= image_tag("flickr_circle_color.png", :type => :upload, :width => 50, :height => 50, :crop => :fill) %>
                  </a>
              </li>
              <li>
                <a href="http://www.instagram.com/" target="_blank">
                  <%= image_tag("instagram_circle_color.png", :type => :upload, :width => 50, :height => 50, :crop => :fill) %>
              </a>
          </li>
      </ul>

        </div>

      </div>

    </footer>

  </body>

</html>


<!--
<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="footer, links, icons" />

  <title>Distributed Footer</title>

  <link rel="stylesheet" href="css/demo.css">
  <link rel="stylesheet" href="css/footer-distributed.css">
  
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

</head>

  <body>
    
    <header>

      <h1>FEOP</h1>
      

    </header>

    

    <footer class="footer-distributed">

      

      <div class="footer-left">

      

        <ul class="nav nav-tabs" id="tab_footer">
                    <li class="<%=  yield(:servicos) %>"><%= link_to "Serviços", servicos_path %></li>
                    <li class="<%=  yield(:parceiros) %>"><%= link_to "Parceiros", parceiros_path %></li>
                    <li class="<%=  yield(:sobre) %>"><%= link_to "Sobre", sobre_path %></li>
                    
                    <li class="<%=  yield(:mapa_do_site) %>"><%= link_to "Mapa do Site", mapa_do_site_path %></li>

                    <li class="<%=  yield(:fale_conosco) %>"><%= link_to "Fale conosco", fale_conosco_path %></li>
                    
                    <p id="endereco">Rua Benedito Valadares, 241 - Bairro Pilar - Ouro Preto MG - Tel/Fax (31) 3559-3450  Cep 35400-000</p>
                    <p>Copyright &copy; Núcleo de TI FEOP  2015 , Inc. &middot; <a href="#">Privacidade</a> &middot; <a href="#">Termos</a></p>
                    
                    <div class="container text-center" >
                        <ul class="social">
                          <li>
                            <a href="https://www.facebook.com/fundacaoeducativa" target="_blank">
                              <%= image_tag("facebook_circle_color.png", :type => :upload, :width => 50, :height => 50, :crop => :fill) %>
                          </a>
                      </li>
                      <li>
                        <a href="https://twitter.com/feopnoticias" target="_blank">
                          <%= image_tag("twitter_circle_color.png", :type => :upload, :width => 50, :height => 50, :crop => :fill) %>
                      </a>
                  </li>
                  <li>
                    <a href="http://www.flickr.com/photos/" target="_blank">
                      <%= image_tag("flickr_circle_color.png", :type => :upload, :width => 50, :height => 50, :crop => :fill) %>
                  </a>
              </li>
              <li>
                <a href="http://www.instagram.com/" target="_blank">
                  <%= image_tag("instagram_circle_color.png", :type => :upload, :width => 50, :height => 50, :crop => :fill) %>
              </a>
          </li>
      </ul>
      <p>Copyright &copy; Núcleo de TI FEOP  2015 , Inc. &middot; <a href="#">Privacidade</a> &middot; <a href="#">Termos</a></p>

      </div>



    </footer>

  </body>

</html>

-->




<!-- <nav class="footer" id="navigation" id="footer_fixed">
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" id="footer-body">
                <ul class="nav nav-tabs">
                    <li class="<%=  yield(:servicos) %>"><%= link_to "Serviços", servicos_path %></li>
                    <li class="<%=  yield(:parceiros) %>"><%= link_to "Parceiros", parceiros_path %></li>
                    <li class="<%=  yield(:sobre) %>"><%= link_to "Sobre", sobre_path %></li>
                    
                    <li class="<%=  yield(:mapa_do_site) %>"><%= link_to "Mapa do Site", mapa_do_site_path %></li>

                    <li class="<%=  yield(:fale_conosco) %>"><%= link_to "Fale conosco", fale_conosco_path %></li>
                    
                    <p id="endereco">Rua Benedito Valadares, 241 - Bairro Pilar - Ouro Preto MG - Tel/Fax (31) 3559-3450  Cep 35400-000</p>
                    <p>Copyright &copy; Núcleo de TI FEOP  2015 , Inc. &middot; <a href="#">Privacidade</a> &middot; <a href="#">Termos</a></p>
                    
                    <div class="container text-center" >
                        <ul class="social">
                          <li>
                            <a href="https://www.facebook.com/fundacaoeducativa" target="_blank">
                              <%= image_tag("facebook_circle_color.png", :type => :upload, :width => 50, :height => 50, :crop => :fill) %>
                          </a>
                      </li>
                      <li>
                        <a href="https://twitter.com/feopnoticias" target="_blank">
                          <%= image_tag("twitter_circle_color.png", :type => :upload, :width => 50, :height => 50, :crop => :fill) %>
                      </a>
                  </li>
                  <li>
                    <a href="http://www.flickr.com/photos/" target="_blank">
                      <%= image_tag("flickr_circle_color.png", :type => :upload, :width => 50, :height => 50, :crop => :fill) %>
                  </a>
              </li>
              <li>
                <a href="http://www.instagram.com/" target="_blank">
                  <%= image_tag("instagram_circle_color.png", :type => :upload, :width => 50, :height => 50, :crop => :fill) %>
              </a>
          </li>
      </ul>
      <p>Copyright &copy; Núcleo de TI FEOP  2015 , Inc. &middot; <a href="#">Privacidade</a> &middot; <a href="#">Termos</a></p>
  </div>
</ul>
</div>  

  -->