
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

    <div id="logo"> 
      <div class="navbar-header">
        <a class="navbar-brand" href="#" >
         <%= image_tag("Logo FEOP_policromia.png", :type => :upload, :width => 200, :height => 100, :crop => :fill) %>
       </a>
     </div>
   </div>

  <form class="navbar-form navbar-rigth" role="search" id="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Pesquisar  ">
    </div>
    <button type="button" class="btn btn-primary btn-lg" style="font-size: 1px" style="text-shadow: black 5px 3px 3px;">  
      <span class="glyphicon glyphicon-search"></span>  
    </button> 
  </form>

  <div class="container" id="menuPrincipal">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" id="mobile">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <li>
          <span class="sr-only">Dispositivos Móveis</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </li>  
      </button>

    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-tabs" > 
        <!--
        <li class="<%=  yield(:home) %>">  <span class="glyphicon glyphicon-home" ></span> 
        <%= link_to  "Home", root_path %>
        </li>
        
        <li class="<%=  yield(:portal_de_compras) %>">
          <span class="glyphicon glyphicon-shopping-cart"> </span>
          <%= link_to "Portal de Compras", portal_de_compras_path %>
        </li>
        <li class="<%=  yield(:servicos) %>">
          <span class="glyphicon glyphicon-wrench" ></span>
          <%= link_to "Serviços", servicos_path %>
        </li>
        <li class="<%=  yield(:projetos) %>">
          <span class="glyphicon glyphicon-folder-open"></span>
          <%= link_to "Projetos", projetos_path %>
          </li>
        <li class="<%=  yield(:novidades) %>">
          <span class="glyphicon glyphicon-star" ></span>
          <%= link_to "Novidades", novidades_path %>
        </li>
        <li class="<%=  yield(:fale_conosco) %>">
          <span class="glyphicon glyphicon-phone-alt"></span>
          <%= link_to "Fale conosco", fale_conosco_path %>
        </li>
        <li class="<%=  yield(:galeria_de_projetos) %>">
          <span class="glyphicon glyphicon-th-list" ></span>
          <%= link_to "Galeria de Projetos", galeria_de_projetos_path %>
        </li>
        -->
        
        <!--  
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Gallery <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Photos</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">Video</a></li>
            <li class="divider"></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </li>
        -->
            
        
        <!--<li class="<%=  yield(:home) %>">  
        <%= link_to  "Home", root_path %></li>-->
        <li class="<%=  yield(:portal_de_compras) %>"><%= link_to "Portal de Compras", portal_de_compras_path %></li>
        <li class="<%=  yield(:servicos) %>"><%= link_to "Serviços", servicos_path %></li>
        <li class="<%=  yield(:projetos) %>"><%= link_to "Projetos", projetos_path %></li>
        <li class="<%=  yield(:novidades) %>"><%= link_to "Novidades", novidades_path %></li>
        <li class="<%=  yield(:fale_conosco) %>"><%= link_to "Fale conosco", fale_conosco_path %></li>
        <li class="<%=  yield(:galeria_de_projetos) %>"><%= link_to "Galeria de Projetos", galeria_de_projetos_path %></li>
          


        <!--
        <ul class="nav nav-pills">
          <li>
            <a href="index.html">
              <span class="glyphicon glyphicon-home"></span> Home
            </a>
          </li>
          <li>
            <a href="shop.html">
              <span class="glyphicon glyphicon-shopping-cart"></span> Shop
            </a>
          </li>
          <li>
            <a href="about.html">
              <span class="glyphicon glyphicon-info-sign"></span> About
            </a>
          </li>
        </ul>
        
  

        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Gallery <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Photos</a></li>
            <li><a href="#">Music</a></li>
            <li><a href="#">Video</a></li>
            <li class="divider"></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </li>
          -->
         

        <!--      
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          Confirmar Pedido
        </button> -->

        <!--
        <li class="dropdown">
        <li><a href="root_path" data-toggle="tab" style="font-size: 20px;">
              <span class="glyphicon glyphicon-eye-open" style="font-size: 20px;"></span>Home</a></li>
            -->
          </ul>
        </div>

        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->

      <!-- navbar verde --> 
      <nav class="navbar" id="submenu">
        
      </nav>

    </nav>




  <!--
        <div id="wrapper">
          <div id="content">
            <span>The footer leaves extra space at the bottom when you scroll all the way down. It starts out at the bottom for only the "Above the Fold" section (before scrolling it's at the bottom).</span>
          </div>
          <div id="push"></div>
        </div>
        <div id="footer">
          <a href=""><span>About Us</span></a>
          <span> | </span>
          <a href=""><span>Contact Us</span></a>
          <span> | </span>
          <a href=""><span>Home</span></a>
        </div>


  <footer>
    <div class="container" id="footer">
      <div class="row">
        <div class="col-sm-12">
          This is your footer!
        </div>
      </div>
    </div>
  </footer>

  -->


