<!DOCTYPE HTML>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="generator" content="HTML Tidy for Linux/x86 (vers 25 March 2009), see www.w3.org" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="http://codeorigin.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


  <!-- Novo navbar-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style type="text/css">
    .bs-example{
      margin: 20px;
    }
  </style>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>


</head>

<body>

<!DOCTYPE HTML>

<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="generator" content="HTML Tidy for Linux/x86 (vers 25 March 2009), see www.w3.org" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>Rodapé</title>

<link rel="stylesheet" href="bootstrap.min.css">
<script src="http://codeorigin.jquery.com/jquery-1.10.2.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>


<!-- Novo navbar-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<style type="text/css">
    .bs-example{
      margin: 20px;
    }
</style>


</head>

<body>





<!-- Navigation -->
  <nav class="navbar  navbar-fixed-top" role="navigation">

    <div id="logo"> 
      <div class="navbar-header">
        <a class="navbar-brand" id="nav_logo"  href=<%=  home_path %> >
         <%= image_tag("Logo FEOP_policromia.png", :type => :upload, :width => 200, :height => 100, :crop => :fill) %>       
       </a>
     </div>
   </div>

  
  <form class="navbar-form navbar-rigth" role="search" id="search">
    
    <div class="input-group" id="imput_pesquisa">
      <input class="form-control" type="text" placeholder="Pesquisar  " />
      
      

      <div class="input-group-btn">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>

        </button>
        
      </div>
    </div>

    <!-- Menu  Login -->
    <div class="bs-example" >
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#login_area">
          <li>
            <span class="sr-only">Dispositivos Móveis</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </li>  
        </button>
      </div>

      <ul class="nav nav-pills" id="login_area">

        <li class="<%=  yield(:login) %>"><%= link_to "Login", login_path %></li>
        <li class="<%=  yield(:imprensa) %>"><%= link_to "Imprensa", imprensa_path %></li>
        <li class="<%=  yield(:financiar) %>"><%= link_to "Financiar", financiar_path %></li>
        <li><a href="http://conveniar.feop.com.br:8081/Pesquisador/Login.aspx?ReturnUrl=%2fpesquisador%2f" target=”_blank”>Acesso do pesquisador</a></li>
        <!--
        <li><%= link_to "Acesso do pesquisador", "http://conveniar.feop.com.br:8081/Pesquisador/Login.aspx?ReturnUrl=%2fpesquisador%2f", target: '_blank' %> </li>-->
        <li class="<%=  yield(:faq) %>"><%= link_to "FAQ", faq_path %></li>
        
      </ul>
    </div>
  </form>
  
  <!-- Menu com icones
  <div class="bs-example">
    <ul class="nav nav-pills">
        <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
    </ul>
</div>
     -->
  <div class="container" id="menuPrincipal">
  
    <div class="navbar-header" style="position: relative;" id="mobile">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <li>
          <span class="sr-only">Dispositivos Móveis</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </li>  
      </button>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-pills" > 
        <li class="<%=  yield(:fundacao) %>"><%= link_to "A Fundação", fundacao_path %></li>
        
        <!--
        <li class="dropdown">
          <a href="" data-toggle="dropdown" class="dropdown-toggle">A Fundação<b class="caret"></b></a>
          <ul class="dropdown-menu" id="menu_drop">
            <li><%= link_to "Apoio a UFOP", apoio_path %> </li>
            <li><%= link_to "Missão e Valores", missao_path %></li>
            <li><%= link_to "Palavra do Presidente", presidente_path %></li>
            <li><%= link_to "Estatuto", estatuto_path %></li>
            <li><%= link_to "Conselhos", conselhos_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Emails e Ramais", emails_ramais_path %></li>
          </ul>
        </li>
        -->

        <!--
          <li><a href="">Apoio a UFOP</a></li>
            <li><a href="#">Missão e Valores</a></li>
            <li><a href="#">Palavra do presidente</a></li>
            <li><a href="#">Estatuto</a></li>
            <li><a href="#">Conselhos</a></li>
            <li class="divider"></li>
            <li><a href="#">Emails e Ramais</a></li>
         -->
        
        
          <!--<li class="<%=  yield(:portal_de_compras) %>"><%= link_to "Portal de Compras", portal_de_compras_path %></li>-->
        <li><a href="http://conveniar.feop.com.br:8081/Fornecedor/Login.aspx?ReturnUrl=%2ffornecedor%2f" target=”_blank”>Portal de Compras</a></li>
        <!--<li class="<%=  yield(:servicos) %>"><%= link_to "Serviços", servicos_path %></li>-->
        <li class="<%=  yield(:projetos) %>"><%= link_to "Projetos", projetos_path %></li>
        
        <li class="<%=  yield(:galeria_de_projetos) %>"><%= link_to "Galeria de Projetos", galeria_de_projetos_path %></li>
        
        
        <li class="<%=  yield(:conveniar) %>"><%= link_to "Conveniar", conveniar_path %></li>
        <li class="<%=  yield(:juridico) %>"><%= link_to "Jurídico", juridico_path %></li>
        <li class="<%=  yield(:setores) %>"><%= link_to "Setores", setores_path %></li>
        
        <!--
        <li class="dropdown">
          <a href="" data-toggle="dropdown" class="dropdown-toggle">Setores<b class="caret"></b></a>
          <ul class="dropdown-menu" id="menu_drop">
            <li><%= link_to "Projetos", projetos_path %> </li>
            <li><%= link_to "Nucleo de TI", nucleo_Ti_path %></li>
            <li><%= link_to "Suprimentos", suprimentos_path %></li>
            <li><%= link_to "Contas", contas_path %></li>
            <li><%= link_to "Financeiro", financeiro_path %></li>
            <li><%= link_to "RH", rh_path %></li>
            <li><%= link_to "Infraestrutura", infraestrutura_path %></li>
            <li><%= link_to "Assessoria Jurídica", acessoria_path %></li>
          </ul>
        </li>
        -->

        <li class="<%=  yield(:editais) %>"><%= link_to "Editais", editais_path %></li>
        
        <li><a href="http://conveniar.feop.com.br:8081/eventos/" target=”_blank”>Eventos</a></li>
        <li class="<%=  yield(:mapa_do_site) %>"><%= link_to "Mapa do Site", mapa_do_site_path %></li>

        <li class="<%=  yield(:fale_conosco) %>"><%= link_to "Fale conosco", fale_conosco_path %></li>
        
  

         
          </ul>
        </div>

        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->

      <!-- navbar verde 
      

      <nav class="navbar" id="submenu">
        
      </nav>

      --> 

    </nav>



</body>
