- if user_signed_in?
  %p#intro
    = current_user.name
    %br/
    %span
      Galeria de projetos
- else
  %p#intro
    Bem vindo
    %br/
    %span
      Galeria de projetos      


.container-fluid
  #posts
    - @galleries.each do |gallery|
      .post
        .post_image
          = link_to (image_tag gallery.image.url(:small)), gallery
        .post_content
          .title
            %h2= link_to gallery.title, gallery
          .data.clearfix
            %p.username
              Compartilhado Por
            %p.buttons
              %span
                %i.fa.fa-comments-o
                = gallery.comentarios.count
              %span
                %i.fa.fa-thumbs-o-up
                = gallery.get_likes.size

