- @galleries.each do |gallery|
  = link_to (image_tag gallery.image.url(:small))
  %h2= link_to gallery.title, gallery
  %p
    = gallery.comentarios.count
    Comentários

- if user_signed_in?
  %p#intro
    = current_user.name
    %br/
    %span
      Galeria de projetos
- else
  %p#intro
    Bem vindo
    %br/
    %span
      Galeria de projetos      
.container-fluid


= link_to "Adicionar novo Projeto", new_gallery_path(@gallery)
