= image_tag @gallery.image.url(:medium)
%h1= @gallery.title
%p= @gallery.link
%p= @gallery.description
%p= @gallery.user.name


= link_to "Galeria de Projetos", galeria_de_projetos_path
= link_to "Editar Projeto", edit_gallery_path(@gallery)
= link_to "Deletar", gallery_path(@gallery), method: :delete, data: {confirm: "Tem certeza desta Ação?"}
