<p id="notice"><%= notice %></p>

<p>
  <strong>Imagem:</strong>
  <%= image_tag @product.cover.url(:thumb) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>


<p>
  <strong>Descricao:</strong>
  <%= @product.descricao %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
